<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menuFragment">
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" th:href="@{/m/items}">다이어그램</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/view/items}">리스트</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/m/relation_group}">관리</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</html>